footer
    .row
        .col-md-6.offset-md-3
            .row
                .col    
                    p Facebook
                .col
                    p Instagram
                .col
                    p Youtube
            .row
                .col
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    p www.blog.com.mx